<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.yerin.weeklymeter.runtime">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <application android:label="WeeklyMeter isolated runtime tests" android:allowBackup="false" android:debuggable="false" />
    <instrumentation android:name="dev.yerin.weeklymeter.RuntimeSmokeInstrumentation" android:targetPackage="dev.yerin.weeklymeter" android:functionalTest="true" android:handleProfiling="false" />
</manifest>
